{% extends "layout.html" %}
{% block content %}
<table class="center">
  <h2 class="center">FAQ</h2>
  <h3 class="center">Why Is Their No Subtraction?</h3>
  <p class="center">Because then it would be uneven</p>

  <h3 class="center">Why There No Zero Button?</h3>
  <p class="center">I forgot tbh</p>

  <h3 class="center">Why cant't I do trigonometry?</h3>
  <p class="center">You can, just type "google.com"</p>
  <p class="center">then search "Calculator"...</p>

  <h3 class="center">Go Away</h3>
  <p class="center">Ouch, my feelings.</p>
</table>
{% endblock content %}
